*, *::before, *::after {
  box-sizing: border-box;
}

/* Couleurs */

:root {
 --bleu: #4bcfff;
 --bleu-clair: #9ae2fc;
 --bleu-outline: 0 0 0 6px rgba(75, 207, 255, .75);
 --gris: #bdbec0;
 --couleur-fond-semi-transparent: rgba(255, 255, 255, 0.3);
 --couleur-fond-semi-transparent-actif: rgba(255, 255, 255, 0.5);
 --rouge: #ff866e;
}

/* Fontes & Typographie */

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 2rem;
}

button, input, body {
  color: white;
}

/* Style des balises de base */

body {
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
              url(images/fond.jpg);
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding-top: 2rem;
}

input {
  width: 100px;
  border-radius: 16px;
  border: none;
  background-color: var(--couleur-fond-semi-transparent);
  padding-left: 1rem;
  display: block;
  font-size: 3.25rem;
  text-align: center;
  outline: none;
}

input:focus:hover {
  box-shadow: var(--bleu-outline);
}

button {
  background-color: var(--bleu);
  border: none;
  border-radius: 16px;
  font-size: 3.25rem;
  min-width: 100px;
  min-height: 100px;
  outline: none;
  cursor: pointer;
}

button:focus,
button:hover {
  background-color: var(--bleu-clair);
}

button:active {
  background-color: white;
  color: var(--bleu);
}

/* Limites */

.titre {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .875rem;
  letter-spacing: 0.065em;
  color: var(--gris);
  text-align: center;
  margin-bottom: 1rem;
}

.limite {
  width: 120px;
  height: 80px;
  margin: 0 auto;
}

/* Compteur et boutons incrémentation / décrémentation */

.conteneur-compteur {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.bouton-inc-dec {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.valeur-inc-dec {
  background-color: var(--couleur-fond-semi-transparent);
  border: none;
  height: 100px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.valeur-inc-dec:focus,
.valeur-inc-dec:hover {
  box-shadow: inset var(--bleu-outline);
}

.compteur {
  font-size: 13.5rem;
  margin: 0;
  min-width: 250px;
  text-align: center;
  /* Juste pour l'animation de limite atteinte */
  position: relative;
}

.limite-atteinte {
  color: var(--rouge);
  animation: limite-atteinte linear .2s 3;
}

@keyframes limite-atteinte {
  from {
    left: 0;
  }
  33% {
    left: .05em;
  }
  66% {
    left: -.05em;
  }
  to {
    left: 0;
  }
}

/* Bouton reset */

.bouton-reset {
  margin: 2rem auto;
  display: block;
  font-size: 2.25rem;
  padding: .5em .8em;
  min-height: initial;
}

/* Zone de clic */

.zone-de-clic {
  width: 90%;
  margin: 0 auto 2rem;
  min-height: 240px;
  background-color: var(--couleur-fond-semi-transparent);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 8px rgba(0,0,0,.4);
  /* Pour éviter de voir le texte sélectionné quand on clique 2x rapidement */
  user-select: none;
}

.zone-de-clic:active {
  background-color: var(--couleur-fond-semi-transparent-actif);
}

/* Notification */

.notification {
  position: fixed;
  top: -50%;
  right: 0;
  left: 0;
  transition: top 300ms;
  text-align: center;
}

.afficher {
  top: 0;
}

#notification-texte {
  display: inline-block;
  background-color: var(--rouge);
  color: black;
  font-size: 1.5rem;
  padding: .5em 1em;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.4);
}